#calcEditor {
  > .placeholder {
    position: absolute;
    cursor: text;
    user-select: none;
    letter-spacing: 0.1rem;
    font-weight: var(--weight-bold);
    line-height: var(--input-lh);
    opacity: 0.5;
    z-index: 10;
  }

  /* .mtkb {
    padding: 0 5px;
  } */

  .view-lines {
    letter-spacing: 0.1rem !important;
  }

  canvas.decorationsOverviewRuler {
    display: none !important;
  }

  .monaco-scrollable-element > .visible {
    background: #1a203f !important;
    border-radius: 10px !important;
  }

  .vs-dark .monaco-scrollable-element > .scrollbar > .slider {
    background: var(--scrollbar-main-color) !important;
    border-radius: 10px !important;
  }
}
